.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */


.swTitle{
  margin-top: 6rem;
  padding: 2rem;
  border: 100px groove rgba(46, 58, 90, 0.356);
  border-radius: 5%;
}



h1{
  margin-top: 0px;
}

h2{
  margin-bottom: 0px;
}

.userContainer{
  background-color: rgba(255, 255, 255, 0.753);
  width: 700px;
  height: auto;
  margin: 5rem;
  padding: 1rem;
  border-radius: 5%;
  border: 10px groove rgba(8, 83, 8, 0.432);
  display: flex;
  justify-content: space-around;
}

form{
  background-color: rgba(255, 255, 255, 0.753);
  width: 500px;
  height: 500px;
  margin: 1rem;
  border-radius: 100%;
  border: 10px groove rgba(8, 83, 8, 0.432);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  width: 250px;
  margin: .5rem;

}

.republic{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userInfo{
  background-color: rgba(2, 2, 71, 0.445);
  padding: 1rem;
  border-radius: 25%;
  width: 280px;
}

p{
  margin: 10px auto;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1.45rem;
}


img{
  width: 200px;
  height: 250px;
  border-radius: 25%;
}